<textarea
    rows="3"
    coWriterAutoResize
    class="block rounded-t-lg px-2.5 pb-2.5 w-full text-sm text-gray-900 bg-gray dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    [readOnly]="readOnly"
    [placeholder]="placeholder"
    (change)="onContentChange($event)"
    [(ngModel)]="content"
    (blur)="onBlur()"
    (focus)="onFocus()"
></textarea>
